<h1><strong>Stupid Coaching</strong></h1>

<div class="your_question">
  <p><%= @question  %></p>
  <p class="author_name"> -- You </p>
</div>
</br>
<div class="answer_coach">
  <p><%= @answer %></p>
  <p class="author_coach"> -- Your coach</p>
</div>
