<h1><strong>Stupid Coaching</strong></h1>

<form action="/answer">
  <input type="text" placeholder="Your question" name="question" width= 300px>
  <input type="submit" value="Ask!" class="btn">
</form>

